// Copyright (c) 2023 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE  0




/ {
    


    keymap {
        compatible = "zmk,keymap";

        Base  {
// ------------------------------------------------------------------------------------------------------
// |    0    |    1    |    2    |    3    |    4    |    5    |    6    |    7    |    8    |    9    |   10    |
// |   11    |   12    |   13    |   14    |   15    |   16    |   17    |   18    |   19    |   20    |   21    |
// |   22    |   23    |   24    |   25    |   26    |   27    |   28    |   29    |   30    |   31    |   32    |
//                 |   33    |   34    |   35    |       36       |   37    |   38    |   39    |
            bindings = <
    &kp N0      &kp N1      &kp N2   &kp N3    &kp N4     &kp N5    &kp N6    &kp N7   &kp N8 &kp N9   &kp PLUS
    &kp A       &kp B       &kp C    &kp D     &kp E      &kp F     &kp G     &kp H    &kp I  &kp J    &kp K
    &kp L       &kp M       &kp N    &kp O     &kp P      &kp Q     &kp R     &kp S    &kp T  &kp U    &kp V
    &kp N0      &kp N1      &kp N2   &kp N3    &kp N4     &kp N5    &kp N6    &kp N7   &kp N8 &kp N9   &kp PLUS
            >;
        };

        
    };
};
